@font-face {
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    src: local('Raleway Medium'),
        local('Raleway-Medium'),
        url(../fonts/Raleway-Medium.woff2) format('woff2'), 
        url(../fonts/Raleway-Medium.woff) format('woff'),
        url(../fonts/Raleway-Medium.eot) format('eot');
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    font-style: normal;
    src: local('Raleway Bold'),
        local('Raleway-Bold'),
        url(../fonts/Raleway-Bold.woff2) format('woff2'), 
        url(../fonts/Raleway-Bold.woff) format('woff'),
        url(../fonts/Raleway-Bold.eot) format('eot');
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:500;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

button {
    padding: 20px 60px;
    color: #598D66;
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #598D66;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    color: #2C2D35;
    line-height: 23px;
    font-weight: 500;
    font-style: normal;
    font-family: "Raleway";
}

.header {
    background-color: #E1EDE6;
}

.nav {
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
}

.logo {
    color: #598D66;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
    margin-right: 60px;
    display: flex;
    gap: 0 60px;
    font-size: 20px;
}

.menu__item:hover {
    color: #598D66;
}

.menu__item:active {
    color: #376B44;
}

.basket:hover {
    svg path {
        stroke: rgba(89, 141, 102, 1);
    }
}

.basket:active {
    svg path {
        stroke: rgba(55, 107, 68, 1);
    }
}

.top {
    height: 621px;
    margin-bottom: 69px;
}

.top__inner {
    display: flex;
    align-items: center;
    gap: 30px;
}

.top__title {
    font-size: 60px;
    line-height: 66px;

}

.top__title span {
    color: #598D66;
    margin-bottom: 30px;
}

.top__subtitle {
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
}

.top__products-btn:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.top__products-btn:active {
    background-color: #376B44;
    color: #F4F6F5;
}

.products {
    margin-bottom: 70px;
}

.products__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.products__title {
    color: #2C2D35;
    font-size: 40px;
    line-height: 44px;
}

.products__tab {
    display: flex;
    gap: 32px;
}

.products__item-link {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #D4E8D9;
    color: #2C2D35;
    font-size: 20px;
}

.products__item-link:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.products__item-link:active {
    background-color: #376B44;
    color: #F4F6F5;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px
}

.products__card {
    background-color: #E1EDE6;
    padding: 20px 20px 30px 20px;
}

.products__card-img {
    width: 310px;
    height: 422px;
    margin-bottom: 20px;
}

.products__card-author {
    color: #86928B;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.products__card-name {
    color: #2C2D35;
    font-size: 30px;
    margin-bottom: 8px;
}

.products__card-details {
    color: #2C2D35;
    font-size: 18px;
    margin-bottom: 30px;
}

.products__card-price {
    color: #598D66;
    font-size: 24px;
    margin-bottom: 20px;
}

.products__btn-buy {
    width: 100%;
}

.products__btn-buy:hover {
    background-color: #598D66;
    color: #F4F6F5;
}

.products__btn-buy:active {
    background-color: #376B44;
    color: #F4F6F5;
}

.new-collection {
    position: relative;
    padding: 70px 0;
    margin-bottom: 70px;
    background-image: url(../images/collection_bg.png);
    background-position: center top;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}

.new-collection::before {
    content: '';
    background-image: url(../images/grain.png);
    outline: 1px solid red;
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    mix-blend-mode: soft-light;
}

.new-collection::after {
    content: '';
    background: linear-gradient(90deg, rgba(13,43,67,1) 0%, rgba(13,43,67,0.5) 50%, transparent 60%);
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
}

.new-collection__container {
    position: relative;
    z-index: 1;
}


.new-collection__title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.new-collectin__img {
    width: 80px;
    height: 80px;
}

.new-collection__title-text {
    color: #F4F6F5;
    font-size: 40px;
    line-height: 40px;
    width: 421px;
    margin-bottom: 20px;
}

.new-collection__desc {
    color: #FFF;
    font-size: 18px;
    line-height: 27px;
    width: 540px;
    margin-bottom: 60px;
}

.new-collection__btn {
    color: #2C2D35;
    font-size: 20px;
    background-color: #EEDB6D;
    border: none;
}

.new-collection__btn:hover {
    background-color: #FAEB97;
}

.new-collection__btn:active {
    background-color: #D9B949;
}



.team__container {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 70px;
}

.team__details {
    margin: 124px 0 44px 0;
}

.team__title {
    color: #2C2D35;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 20px;
}

.team__desc {
    color: #2C2D35;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}

.team__people {
    display: flex;
    gap: 30px;
}

.footer {
    background-color: #E1EDE6;
    padding-top: 23px;
}

.footer__inner {
    display: grid;
    grid-template-columns: 20% auto auto auto 30%; 
    grid-template-rows: repeat(2, 1fr);
    align-items: start;
    gap: 0 60px;
}

.footer__contacts {
  grid-area: 2/ 1/ 3/ 2;
}

.footer__contacts-phone {
    display: block;
    color: #2C2D35;
    font-size: 20px;
    margin-bottom: 8px;
}

.footer__contacts-phone:hover {
    color: #598D66;
}

.footer__contacts-phone:active {
    color: #376B44;
}

.footer__contacts-place {
    color: #86928B;
    font-size: 18px;
}

.footer__reproduction,
.footer__novelty,
.footer__about-us {
    grid-row: 2 span;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer__reproduction-title-link, 
.footer__novelty-title-link,
.footer__about-us-title-link {
    color: #2C2D35;
    font-size: 20px;
}

.footer__reproduction-link,
.footer__novelty-link,
.footer__about-us-link {
    color: #86928B;
    font-size: 18px;
    line-height: 27px;
}

.footer__reproduction-link:hover,
.footer__novelty-link:hover,
.footer__about-us-link:hover {
    color: #598D66;
}

.footer__reproduction-link:active,
.footer__novelty-link:active,
.footer__about-us-link:active {
    color: #376B44;
}

.footer__social {
    justify-self: flex-end;
    
}

.footer__social-image-link {
    margin-right: 30px;
    width: 24px;
    height: 24px;
}

.footer__social-item {
    margin-bottom: 10px;
}

.footer__social-image-link:hover {
    svg path {
        fill: #598D66;
    }
}

.footer__social-image-link:active {
    svg path {
        fill: #376B44;
    }
}

.footer__copy {
    color: #86928B;
    font-family: Raleway;
    font-size: 12px;
    line-height: 14.4px; 
}

.footer__copy-name {
    margin-bottom: 6px;
}


